[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pylint = "*"
sphinx = "*"
testing-postgresql = "*"
alembic = "*"

[packages]
sqlalchemy = "*"
psycopg2-binary = "*"
redlock = "*"
requests = "*"
colorlog = "*"

[requires]
python_version = "3.7"
