[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pylint = "*"

[packages]
sqlalchemy = "*"
pyyaml = "*"
psycopg2-binary = "*"
redlock = "*"
alembic = "*"
requests = "*"

[requires]
python_version = "3.7"
